
.bg_section_about {
    background-color: #8e8f5c;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 1000px;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 3s;
  }
  
  .w3-animate-right {
    position: relative;
    animation: animateright 3s;
  }
/* 
  /* Smallest devices */
  .myimage_boerenkool {
    width: 450px;
    shape-margin:20px;
    margin: 10px;
    border-radius: 2%;
    margin: auto;
    align-items: baseline;
} 

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .myimage_boerenkool{
    width: 600px;
  } /*1rem = 16px*/


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .myimage_boerenkool{
    width: 800px;
  }

  /* .wrapper {
    column-count: 2;
    column-gap: 50px;
    padding: 20px;
  /* } */
} 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .myimage_boerenkool{
    width: 900px;
  } 

 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .myimage_boerenkool{
    width: 1000px;
  }
   
} 


/* body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif} */
/* .mySlides {display: none} */
 