.collage_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.collage_img{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

.collage_img:hover {
	transform: scale(1.1);
}

.row {
    display: flex;
}

.collage_bg_overlay{
    background-color: rgba(86,100,54,0.8);
}