
  
.bg_section_about {
    background-color: #a2b761;
}

.w3-animate-left {
    position: relative;
    animation: animateleft 3s;
  }
  
  .w3-animate-right {
    position: relative;
    animation: animateright 3s;
  }

  /* Smallest devices */
  .myimage_edwin {
    width: 250px;
    shape-margin:20px;
    margin: 10px;
    border-radius: 2%;
    margin: auto;
} 

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .myimage_edwin{
    width: 200px;
  } /*1rem = 16px*/


}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .myimage_edwin{
    width: 350px;
  }

  .wrapper {
    /* column-count: 2; */
    column-gap: 50px;
    padding: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .myimage_edwin{
    width: 500px;
  } 

 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .myimage_edwin{
    width:600px;
  }   
}