
  /* Smallest devices */
  #home_text {
    font-weight: 550;
    margin-top: 3em;
    margin-bottom: 12em;
    font-size: 50px;
} 

.home_text_button {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  #home_text{
    font-size: 70px;
    /* margin-bottom: 7em; */
  } /*1rem = 16px*/

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  #home_text{
    font-size: 80px;
    /* margin-bottom: 7em; */
    /* width: 350px; */
  }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  #home_text{
    font-weight: 590;
    /* margin-bottom: 7em; */
    
  } 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  #home_text{
    font-size: 100px;
    margin-bottom: 7em;
    }
}