body {
    background-image: url('/assets/images/ygroene_paddestoel_focus.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #464646; 
}